__pycache__
venv
.env
Backend/data/
.DS_Store
Backend/app/Data/test.csv
Backend/app/Data/faiss_index_ids.npy
Backend/app/Data/faiss_index.index
Frontend/public/images/
Backend/Debug/dataset
faiss_index_ids.npy
faiss_index.index
node_modules/
Frontend/public/productimages/
Backend/app/Data/embeddings.npy