.all-order-card{
    margin: 1rem 1rem;
    padding: 1rem;
    width: 31%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 17px rgb(186 182 182);
    border-radius: 5px;
    /* background-color: rgb(253, 238, 236); */
    position: relative;
}

.all-admin-orders-containers{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}

.all-orders-status{
    /* background: rgb(255, 248, 206); */
    /* background:rgb(40, 228, 128) */
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0.5rem 0;
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
    font-size: 0.75rem;
    /* width: 80px; */
    text-align: center;
}