.pending-product-card{
    display: flex;
    flex-direction: column;
    width:31%;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    margin: 1rem 1rem;
}

.pending-product-card-approve{
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #009688;
    color: white;
    font-size: 1rem;
    margin: 10px 0;
    transition: transform 0.7s;
    margin : 0 10px;
}

.pending-product-card-cancel{
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #f94125;
    color: white;
    font-size: 1rem;
    margin: 10px 0;
    transition: transform 0.7s;
}



.pending-product-card-approve:hover{
    background-color: #00453e;
    transform: scale(1.05);
}

.pending-product-card-cancel:hover{
    background-color: #a71600;
    transform: scale(1.05);
}