/* Chatbot.css */
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    margin: 5px 5px;
}
.product-image {
  width: 130px; /* Set the maximum width of the image */
  /* max-height: 100px; */
  height: 140px;
  /* border: 2px solid rgb(0, 0, 0);; */
}

.product-details {
  flex: 1;
}

.product-name {
  width: 160px;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

.product-name:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
}

.product-price {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #e0667a; /* Set the color of the price to #e0667a */
}

.product-discount {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #e0667a; /* Set the background color of the discount to #e0667a */
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
}
.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes changeColor {
  0% {
    color: #ffe770;
  } /* Red */
  50% {
    color: #00ff00;
  } /* Green */
  100% {
    color: #03e2ff;
  } /* Blue */
}